# gitignore Nam
/src/server/node_modules


# Python
**/venv/


# ML Service Ignore
/src/mlservice/image_classifier/datasets
/src/mlservice/image_classifier/trained_models
/src/mlservice/image_classifier/ag_automm_tutorial_imgcls
/src/mlservice/image_classifier/test.py

# client
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
src/client/node_modules
src/client/.pnp
.pnp.js

# testing
src/client/coverage

# next.js
src/client/.next/
src/client/out/

# production
src/client/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts


node_modules/*
node_modules
*.xml
*.iml
.idea
.idea/*
